@charset "utf-8";
/* CSS Document */

body {
	margin: 0;
	padding: 0;
	text-align: left;
	font: 12px Arial, Helvetica, sans-serif;
	color: #061C37;
	background: #8CBDE1;
	background-image:url(images/background1.jpg);
	background-repeat:repeat-x;
}
/*Estilo css para el menu superiro en el header*/
.ul {
	list-style-type: none;
	margin-top: 10px;
	padding: 0;
	overflow: hidden;
	background-color: #dddd;
	width: 100%;
}
.li {
	float: left;
}
.titleMenu{
	text-align: center;
}
.li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
form{
	margin-right: 10px;
	text-align: center;
	font-size: 14px;

}
div.ex3 {
	width: 180px;
	height: 110px;
	overflow: auto;
	margin-left: 6px;
	font-size: 14px;
}

iframe{
	 width: 180px;
	height: 100px;
	margin-left: 5px;
}

li a:hover {
	background-color: #111;
}
*
{
margin:0px;
padding:0px;
}

#header
{
width:900px;
height:237px;
padding:7px 7px 7px 7px;
background-color:#FFFFFF;
margin-bottom:7px;
margin-top:20px;
position: fixed; /* Set the header to fixed position */
	z-index: 1; /* Stay on top */
}

#picture
{
	width:900px;
	height:237px;
	background-image:url(images/picture.jpg);
	background-repeat:no-repeat;	
}


h1, h2, h3
{
	padding:0px;
	margin:0px;
}

#header h1
{
position:relative;
left:12px;	
top:10px;
color:#EEF5FD;
font-size:40px;
}

i{
	font-size: 14px;
}

#header h3
{
position:relative;
display:block;
float:right;
top:158px;
margin-right:11px;
font-size:15px;
color:#2661CE;
}



#container
{
width:914px;
margin:0px auto 0px auto;
}

#main
{
	display:block;
background-color:#FFFFFF;
padding-top:7px;
padding-bottom:7px;
	position: relative;

}

.leftcol h2
{
	text-align:left;
	margin-left:7px;
	font-size:21px;
	color: #1D5174;
	margin-bottom:6px;
}

.rightcol h2
{
	text-align:right;
	margin-right:7px;
	font-size:21px;
	color: #1D5174;
	margin-bottom:6px;
}


.maincol h2
{
color:#498DD8;
margin-bottom:3px;
}

.maincol p
{
margin-bottom:6px;
}




.clear
{
clear:both;	
}


#leftcol_container, #maincol_container, #rightcol_container
{
	float:left;
	margin-left:7px;
}


#leftcol_container
{
	width:220px;
	margin-top:270px;
	position: fixed;
	overflow-x: hidden; /* Disable horizontal scroll */
}
#rightcol_container
{
	width:220px;
	margin-top: 270px;


}
#maincol_container
{
	width:447px;
	margin-left: 225px; /* Same as the width of the sidebar */
	margin-top: 270px;
}


.leftcol_bottom
{
background-image:url(images/leftcol_bottom.png)	;
background-repeat:no-repeat;
width:220px;
height:13px;
margin-bottom:13px;
}

.rightcol_bottom
{
background-image:url(images/rightcol_bottom.png)	;
background-repeat:no-repeat;
width:220px;
height:13px;
margin-bottom:13px;
}

.card-text{
	width: 100%;
}

img{
	margin-left: 10px;
	width: 75%;

}

.maincol_bottom
{
background-image:url(images/maincol_bottom.png)	;
background-repeat:no-repeat;
width:447px;
height:13px;
margin-bottom:13px;
}

.button{
	background-color: #111111;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin-right: 10px;

}
.alert {
	padding: 50px;
	background-color: #2661CE;
	color: white;
	position: fixed;
	bottom: 0;
	font-size: 18px;
	margin-left: 0;
	width: 95%;
}

.closebtn {
	margin-left: 15px;
	color: white;
	font-weight: bold;
	float: right;
	font-size: 22px;
	line-height: 20px;
	cursor: pointer;
	transition: 0.3s;
}

.closebtn:hover {
	color: black;
}

.titleArticle{
	margin-left: 16px;
}

.card{
	width: 50%;
	float: left;
	padding-bottom: 20px;
}
.leftcol, .maincol, .rightcol
{
	clear:both;
	padding-left:5px;
	padding-right:5px;
	padding-bottom:5px;
	padding-top:12px;
}
.leftcol
{
	display:block;
	background-color:#AFD3EB;
	background-image:url(images/leftcol_top.png);
	background-repeat:no-repeat;
	width:210px;

}


a,a:visited
{
	text-decoration:none;
	color:#1779CA;
}

a:hover
{
	color:#7DBDEC;
	border-bottom: #7DBDEC dotted 1px;
}

.leftcol ul, .rightcol ul
{
list-style:none;
font-size:15px;
font-weight:bold;
}

.rightcol ul
{
text-align:right;	
	
}

.rightcol 
{
text-align:right;
}

.maincol
{
display:block;
background-repeat:no-repeat;
background-color:#EEF5FB;
width:437px;
}



.maincol-estadisticas
{
	display:block;
	background-repeat:no-repeat;
	width:600px;
	margin-left: 10%;
}
.article-estadisticas{
	text-align: center;
	padding: 20px;
}

.article-body-estadisticas::first-letter {
	font-size: 200%;
	color: #8A2BE2;

}
.list-estadisticas{
	font-size: 18px;
	padding: 10px;
}

.article-body-estadisticas{
	text-align: justify;
	font-size: 18px;
}
.rightcol
{
display:block;
background-color:#AFD3EB;
background-image:url(images/rightcol_top.png);
background-repeat:no-repeat;
width:210px;
}
#footer h3
{
font-size:12px;
width:inherit;	
text-align:center;
margin:0 auto 0 auto;
	
	
}
/*Formato para la tabla*/
table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

td, th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
}
.impar{
	background-color: #8A2BE2;
}
.par{
	background-color: #ff2ce7;
}
.title{
	background-color: #7DBDEC;
}

/*Formato para el formulario*/
input[type=text], input[type=number], input[type=time], select {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}


input[type=submit] {
	width: 100%;
	background-color: #4CAF50;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

input[type=submit]:hover {
	background-color: #45a049;
}
